@import 'normalize.scss';
@import 'base.scss';
@import 'components/sidebarRight.scss';


.makeStyles-videoWrapper-9{
    iframe{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}